.block1{
    height: 250px;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
}
.block1 h2{
    font-size: 50px;
    color: #000;
    padding: 50px 0;
}
.block1 p{
    font-size: 20px;
    color: #5783ac;
    padding: 0 100px;
}

