.block4{
    width: 100%;
    height: 900px;
    background: url(../images/imgX.jpg) top center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    text-align: center;
    display: block;
    background-attachment: fixed;
    position: relative;
    z-index: -10;
}
.block4:after{
    content: " ";
    background: rgba(46, 32, 20, 0.4);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    z-index: -5;
} 
.block4 h2{
    font-size: 50px;
    color: #fff;
    display: block;
    width: 100%;
    padding-top: 230px;
    padding-bottom: 70px;
    font-family: SegoeUIRegular, Arial, sans-serif;
}
.block4 .entryForm{
    vertical-align: middle;
    z-index: 20;
    margin: 0 auto;
    position: static;
    transform: none;
} 
.block4 .entryForm h2{
    text-align: center;
    padding: 0 0 20px 0;
    margin: 0;
    font-family: SegoeUIRegular, Arial, sans-serif;
    font-size: 35px;
    color: #0b0b0b;
}
