.block2{
    position: relative;
    z-index: 2;
}
.block2 .forward .slide{
    z-index: 10;
}
.block2 .slide-forw, .block2 .slide-back{
    position: relative;
}
.block2 .slide-forw:after{
    content: ".";
    background: rgba(46, 32, 20, 0.4);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 20;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.block2 .slide-forw:hover:after, .block2 .slide-back:hover:after, .block2 .backward:hover:after{
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.block2 a{
	display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.block2 .backward{
    text-align: center;
    position: relative;
} 
.block2 .backward:after{
    content: "more than 1,000 profiles";
    font-size: 50px;
    font-family: SegoeUISemiBold, Arial, sans-serif;
    width: 100%;
    height: 100%;
    display: block;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left:0;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
} 
.block2 .slide-back:after{
    content: ".";
    background: rgba(5, 29, 51, 0.6);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 20;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
/* Slider */
.block2 .slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.block2 .slick-slide {
	margin: 0;
    padding: 0;
}
.block2 .slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.block2 .slick-list:focus
{
    outline: none;
}
.block2 .slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.block2 .slick-slider .slick-track,
.block2 .slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.block2 .slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.block2 .slick-track:before,
.block2 .slick-track:after
{
    display: table;
    content: '';
}
.block2 .slick-track:after
{
    clear: both;
}
.block2 .slick-loading .slick-track
{
    visibility: hidden;
}
.block2 .slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .block2 .slick-slide
{
    float: right;
}
.block2 .slick-slide img
{
    display: block;
    margin: 0;
    width: 100%;
}
.block2 .slick-slide.slick-loading img
{
    display: none;
}
.block2 .slick-slide.dragging img
{
    pointer-events: none;
}
.block2 .slick-initialized .slick-slide
{
    display: block;
}
.block2 .slick-loading .slick-slide
{
    visibility: hidden;
}
.block2 .slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.block2 .slick-arrow.slick-hidden {
    display: none;
}