.footer{
    background: #262f37;
}
.footer .wrap{
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    text-justify: newspaper;
}
.footer #logo-wrap, .footer .info{
    width: 20%;
    height: 98px;
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-size: 14px;
    vertical-align: top;
}
.footer .empty{
    width: 60%;
    height: 98px;
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-size: 14px;
    vertical-align: top;
}
.footer .fake{
	width: 30%;
    display: inline-block;
    vertical-align: middle;
	height:0;
	line-height:0;
	font-size:0;
	margin:0;
}
.footer #logo-wrap, .footer li{
	display: inline-block;
    vertical-align: middle;
}
.footer li{
    position: relative;
    line-height: 60px;
    padding: 0 0 0 10px;
}

.footer li:before{
    content:'';
    position: absolute;
    left:3px;
    top:50%;
    transform: translateY(-50%);
    border-left: 1px solid #fff;
    height: 20px;
}
.footer li:first-child:before{
    display: none;
}
.footer #logo-wrap{
    text-align: center;
}
.footer #logo{
    width: 132px;
    height: 79px;
    background: url(../images/icons/Logo.png) no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: bottom;
    text-indent: -99999px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    margin-top: 10px;
}
.footer .logo-a{
    width: 100%;
    height: 100%;
    display: block;
}
.footer .info{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.footer .info-a{
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
}
.footer .info-a:nth-child(2):before{
    content: "|";
    color: #fff; 
}