.header{
    border-bottom: 3px solid #2a699d;
    background: #262f37;
}
.header .wrap{
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    text-justify: newspaper;
}
.header #logo-wrap, .header .login{
    width: 20%;
    height: 98px;
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-size: 14px;
    vertical-align: top;
}
.nav{
    width: 50%;
    height: 98px;
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-size: 14px;
    vertical-align: top;
}
.fake{
	width: 30%;
    display: inline-block;
    vertical-align: middle;
	height:0;
	line-height:0;
	font-size:0;
	margin:0;
}
.header #logo-wrap, .header li{
	display: inline-block;
    vertical-align: middle;
    line-height: 60px;
}
.header #logo-wrap{
    text-align: center;
}
.header #logo{
    width: 132px;
    height: 79px;
    background: url(../images/icons/Logo.png) no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: bottom;
    text-indent: -99999px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    margin-top: 10px;
}
.header .logo-a{
    width: 100%;
    height: 100%;
    display: block;
}
.header ul{
	margin-top: 23px;
}
.header li{
	font-family: Segoe UI, Arial, sans-serif;
    text-transform: uppercase;
    margin-right: 38px;
}
.header .nav-a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
.header .login{
	height: 98px;
    text-align: center;
}
.header .logBG{
    display: inline-block;
    vertical-align: middle;
    height: inherit;
    width: 70px;
    background-color: #2a4155;
    text-align: center;
}
.header .login-a{
    display: block;
    margin: 0 auto; 
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
}
.header .login-a:before{
    content: url("../images/icons/Login.png");
    display: block;
}
sdf
sdf
sdf
sdf
sdf
sd
fsd
fsd
f
sdf
sdf
sdf
sd
fsd
f
sdf
sdf
