.hero{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: 0;
    text-align: center;
    min-height: 547px;
    box-sizing: border-box;
    padding-top: 100px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    line-height: 1;
}
.hero ol, .hero ul {
    list-style: none;
}
.hero table {
    border-collapse: collapse;
    border-spacing: 0;
}
.hero caption,.hero th, .hero td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
.hero q, .hero blockquote {
    quotes: none;
}
.hero q:before, .hero q:after, .hero blockquote:before, .hero blockquote:after {
    content: "";
    content: none;
}
.hero a img {
    border: none;
}
.hero article, .hero aside, .hero details, .hero figcaption, .hero figure, .hero footer, .hero header, .hero hgroup, .hero main, .hero menu, .hero nav, .hero section, .hero summary {
    display: block;
}
.hero .cf:after, .hero .slick-dots:after {
    content: "";
    display: table;
    clear: both;
}
.hero *, .hero *:before, .hero *:after {
    box-sizing: border-box;
}
.hero .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.hero .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.hero .slick-list:focus {
    outline: 0;
}
.hero .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.hero .slick-slider .slick-track,
.hero .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.hero .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.hero .slick-track:before,
.hero .slick-track:after {
    display: table;
    content: '';
}
.hero .slick-track:after {
    clear: both;
}
.hero .slick-loading .slick-track {
    visibility: hidden;
}
.hero .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .hero .slick-slide {
    float: right;
}
.hero .slick-slide img {
    display: block;
}
.hero .slick-slide .slick-loading img {
    display: none;
}
.hero .slick-slide .dragging img {
    pointer-events: none;
}
.hero .slick-initialized .slick-slide {
    display: block;
}
.hero .slick-loading .slick-slide {
    visibility: hidden;
}
.hero .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.hero .slick-arrow.slick-hidden {
    display: none;
}
.hero .container {
    position: relative;
}
.hero .slick-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 3px;
}
.hero .slick-dots li {
    cursor: pointer;
    float: left;
    width: 33.3%;
    background: #000;
    padding: 0;
    border-right: 1px solid #fff;
}
.hero .slick-dots li:last-child {
    border: none;
}
.hero .slick-dots li, .slick-dots li button {
    outline: none;
}
.hero .slick-dots li button {
    background: #99B386;
    border: none;
    width: 0px;
    height: 10px;
    padding: 0;
    cursor: pointer;
    display: block;
}
@media screen and (max-width: 978px) {
    .hero{
        position: relative;
        padding-top: 0;
    }
    .hero .img--holder{
        min-height: 600px;
    }
}