html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.cf:after, .slick-dots:after {
    content: "";
    display: table;
    clear: both;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: 0;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slider-parent{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 2;
}
.sep{
    min-height: 700px;
    display: block;
}
.wrapper{
    position: relative;
    background: #fff;
    z-index: 2;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.container {
    position: relative;
}
.slick-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 3px;
}
.slick-dots li {
    cursor: pointer;
    float: left;
    width: 33.3%;
    background: #000;
    padding: 0;
    border-right: 1px solid #fff;
}
.slick-dots li:last-child {
    border: none;
}
.slick-dots li, .slick-dots li button {
    outline: none;
}
.slick-dots li button {
    background: #99B386;
    border: none;
    width: 0px;
    height: 10px;
    padding: 0;
    cursor: pointer;
    display: block;
}
.slick-slide .img--holder {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.first:before{
    background: rgba(46, 21, 10, 0.14);
    content: ".";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.first{
    background: url(../images/img1.jpg);
}
.second{
    background: url(../images/img2.jpg);
}
.third{
    background: url(../images/img3.jpg);
}
.fourth{
    background: url(../images/img4.jpg);
}
.fifth{
    background: url(../images/img5.jpg);
}
.sixth{
    background: url(../images/img6.jpg);
}
.seventh{
    background: url(../images/img7.jpg);
}
.eighth{
    background: url(../images/img8.jpg);
}
.nineth{
    background: url(../images/img9.jpg);
}
.entryForm{
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    position: absolute;
    top: 1000;
    left: 1500;
    width: 220px;
    height: 500px;
    z-index: 10;
}
form{ 
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding: 0 30px;
}
.name{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}
.name, .gender, .enter{
    font-size: 14px;
    color: #537fa8;
}
.inp{
    border: 1px solid #d0cec9;
    background-color: #fff;
    margin-bottom: 10px;
    width: 150px;
    height: 20px;
}
.gender{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-bottom: 10px;
}
.female{
    margin-right: 40px;
}
.sumit{
    background: #0db233;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    margin-right: 25px;
}
.hero-h2{
    text-align: center;
    padding: 30px 0 20px 0;
    margin: 0;
}
table{
    margin: 0 auto;
}
.title{
    border-bottom: 1px solid gray;
    width: 35%;
}
.enter{
    vertical-align: middle;
    text-align: center;
}
.socials {
	margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
}
.vk, .fb, .gPlus{
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    width: 28px;
    border-radius: 2px;
}
.vk{
    background: #507299;
    font-family: "fontello";
}
.fb{
    background: #43609C;
    font-family: "fontello";
}
.gPlus{
    background: #DB4437;
    font-family: "fontello";
}
.icon-vkontakte, .icon-facebook, .icon-gplus{
	color: #fff;
    margin-top: 10px;
}
